In [6]:
#Dependencies
import pandas as pd

In [69]:
#Path reference
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Import file as DataFrame
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

#Combine data into single DataFrame
combined_df = pd.merge(student_df, school_df, how="left", on=["school_name"])

#Renaming columns clean up
renamed_df = combined_df.rename(columns={"student_name":"Student Name", "gender":"Gender", "grade":"Grade", "school_name":"School Name", "reading_score":"Reading Score", "math_score":"Math Score", "type":"Type", "size":"Size", "budget":"Budget"})

## District Summary

In [55]:
#Calculate total number of schools - Lists an array of unique school names
total_schools = renamed_df["School Name"].unique()
total_schools

#Provides count for unique school names 
school_count = len(total_schools)
school_count

15

In [56]:
#Calculate the total number of students
total_students = renamed_df["Student Name"].count()
total_students

39170

In [57]:
#Calculate the total budget - Lists an array of unique budget totals
budget_array = renamed_df["Budget"].unique()
budget_array

#Calculates sum of array
total_budget = budget_array.sum()
total_budget

24649428

In [58]:
#Calculate the average math score 
math_average = round(renamed_df["Math Score"].mean(),3)
math_average

78.985

In [59]:
#Calculate the average reading score 
reading_average = round(renamed_df["Reading Score"].mean(),3)
reading_average

81.878

In [60]:
#Calculate percentage of students with a passing math score (70 or greater)
passing_math_score = renamed_df.loc[renamed_df["Math Score"] >= 70]
student_pass_math = passing_math_score["Student ID"].count()

percentage_math_total = round((student_pass_math/total_students)*100,3)
percentage_math_total

74.981

In [61]:
#Calculate percentage of students with a passing reading score (70 or greater)
passing_reading_score = renamed_df.loc[renamed_df["Reading Score"] >= 70]
student_pass_reading = passing_reading_score["Student ID"].count()

percentage_reading_total = round((student_pass_reading/total_students)*100,3)
percentage_reading_total

85.805

In [62]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = round(renamed_df[(renamed_df["Math Score"] >= 70) & (renamed_df["Reading Score"] >= 70)]["Student ID"].count() / total_students * 100,3)
overall_passing

65.172

In [63]:
#Create a DataFrame for the results
new_df = pd.DataFrame({"Total Schools":[school_count], "Total Students":"{:,}".format (total_students), "Total Budget":"${:,.0f}".format (total_budget), "Average Math Score":[math_average], "Average Reading Score":[reading_average], "% Passing Math":[percentage_math_total], "% Passing Reading":[percentage_reading_total], "% Overall Passing":[overall_passing]})
new_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985,81.878,74.981,85.805,65.172

## School Summary

Create an overview table that summarizes key metrics about each school

In [68]:
#Group by school name 
school_name = renamed_df.set_index('School Name').groupby(['School Name'])

In [95]:
#Calculations

school_type = school_df.set_index('school_name')['type']
total_students = school_name["Student ID"].count()
total_budget = school_df.set_index('school_name')['budget']

per_student_budget = total_budget/total_students

average_math = round(school_name["Math Score"].mean(),3)
average_reading = round(school_name["Reading Score"].mean(),3)
math_percentage = round(renamed_df.loc[renamed_df["Math Score"] >= 70].groupby("School Name")["Student ID"].count()/total_students * 100,3)
reading_percentage = round(renamed_df.loc[renamed_df["Reading Score"] >= 70].groupby("School Name")["Student ID"].count()/total_students * 100,3)
overall_percentage = round(renamed_df.loc[(renamed_df["Reading Score"] >= 70) & (renamed_df["Math Score"] >= 70)].groupby("School Name")["Student ID"].count()/total_students, 3)

In [98]:
#Create a new DataFrame to hold the results
school_summary_df = pd.DataFrame({"School Type":school_type, "Total Students":total_students, "Total School Budget":total_budget, "Per Student Budget":per_student_budget, "Average Math Score":average_math, "Average Reading Score":average_reading, "% Passing Math":math_percentage, "% Passing Reading":reading_percentage, "Overall Passing Rate":overall_percentage})
school_summary_df

#Using MAP to format all columns - adds $ , %
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.0f}".format)
school_summary_df["Overall Passing Rate"] = school_summary_df["Overall Passing Rate"].map("{:.1%}".format)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928",$628,77.048,81.034,66.680,81.933,54.6%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.062,83.976,94.133,97.040,91.3%
Figueroa High School,District,"2,949","$1,884,411",$639,76.712,81.158,65.988,80.739,53.2%
Ford High School,District,"2,739","$1,763,916",$644,77.103,80.746,68.310,79.299,54.3%
Griffin High School,Charter,"1,468","$917,500",$625,83.351,83.817,93.392,97.139,90.6%
Hernandez High School,District,"4,635","$3,022,020",$652,77.290,80.934,66.753,80.863,53.5%
Holden High School,Charter,427,"$248,087",$581,83.803,83.815,92.506,96.253,89.2%
Huang High School,District,"2,917","$1,910,635",$655,76.629,81.183,65.684,81.316,53.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.072,80.966,66.058,81.222,53.5%
Pena High School,Charter,962,"$585,858",$609,83.840,84.045,94.595,95.946,90.5%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.843,80.745,66.367,80.220,53.0%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.359,83.726,93.867,95.855,89.9%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.418,83.849,93.272,97.309,90.9%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.274,83.989,93.868,96.540,90.6%
Wright High School,Charter,"1,800","$1,049,400",$583,83.682,83.955,93.333,96.611,90.3%

# Top Performing Schools

By % Overall Passing

In [99]:
#Sort_values in descending order
top_five = school_summary_df.sort_values("Overall Passing Rate", ascending=False)
top_five.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.062,83.976,94.133,97.040,91.3%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.418,83.849,93.272,97.309,90.9%
Griffin High School,Charter,"1,468","$917,500",$625,83.351,83.817,93.392,97.139,90.6%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.274,83.989,93.868,96.540,90.6%
Pena High School,Charter,962,"$585,858",$609,83.840,84.045,94.595,95.946,90.5%

# Bottom Performing Schools

By % Overall Passing

In [101]:
#Sort_values in ascending order
bottom_five = school_summary_df.sort_values("Overall Passing Rate")
bottom_five.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363",$637,76.843,80.745,66.367,80.220,53.0%
Figueroa High School,District,"2,949","$1,884,411",$639,76.712,81.158,65.988,80.739,53.2%
Hernandez High School,District,"4,635","$3,022,020",$652,77.290,80.934,66.753,80.863,53.5%
Huang High School,District,"2,917","$1,910,635",$655,76.629,81.183,65.684,81.316,53.5%
Johnson High School,District,"4,761","$3,094,650",$650,77.072,80.966,66.058,81.222,53.5%

# Math Scores by Grade

The average math score for students of each grade level

In [107]:
#Calculate average using .groupby and .mean

ninth = round(renamed_df.loc[renamed_df["Grade"] == '9th'].groupby("School Name")["Math Score"].mean(),2)
tenth = round(renamed_df.loc[renamed_df["Grade"] == '10th'].groupby("School Name")["Math Score"].mean(),2)
eleventh = round(renamed_df.loc[renamed_df["Grade"] == '11th'].groupby("School Name")["Math Score"].mean(),2)
twelfth = round(renamed_df.loc[renamed_df["Grade"] == '12th'].groupby("School Name")["Math Score"].mean(),2)

#Create new DataFrame
math_scores = pd.DataFrame({'9th':ninth, '10th':tenth, '11th':eleventh, '12th':twelfth})
math_scores.index.name = None
math_scores

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

# Reading Scores by Grade 

The average reading score for students of each grade level

In [108]:
#Calculate average using .groupby and .mean

ninth9 = round(renamed_df.loc[renamed_df["Grade"] == '9th'].groupby("School Name")["Reading Score"].mean(),2)
tenth10 = round(renamed_df.loc[renamed_df["Grade"] == '10th'].groupby("School Name")["Reading Score"].mean(),2)
eleventh11 = round(renamed_df.loc[renamed_df["Grade"] == '11th'].groupby("School Name")["Reading Score"].mean(),2)
twelfth12 = round(renamed_df.loc[renamed_df["Grade"] == '12th'].groupby("School Name")["Reading Score"].mean(),2)

#Create new DataFrame
reading_scores = pd.DataFrame({'9th':ninth9, '10th':tenth10, '11th':eleventh11, '12th':twelfth12})
reading_scores.index.name = None
reading_scores

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

# Scores by School Spending

School performance based on average spending ranges

In [ ]:
#Use 4 reasonable bins to group school spending
bins = [0, 584, 629, 644, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

renamed_df["spending_ranges"] = pd.cut(renamed_df["budget"])