In [1]:
#Dependencies
import pandas as pd

In [2]:
#Path reference
school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

#Import file as DataFrame
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

#Combine data into single DataFrame
combined_df = pd.merge(student_df, school_df, how="left", on=["school_name"])
combined_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [5]:
#Calculate total number of schools - Lists an array of unique school names
total_schools = combined_df["school_name"].unique()
total_schools

#Provides count for unique school names 
school_count = len(total_schools)
school_count

15

In [6]:
#Calculate the total number of students
total_students = combined_df["student_name"].count()
total_students

39170

In [7]:
#Calculate the total budget - Lists an array of unique budget totals
budget_array = combined_df["budget"].unique()
budget_array

#Calculates sum of array
total_budget = budget_array.sum()
total_budget

24649428

In [9]:
#Calculate the average math score 
math_average = round(combined_df["math_score"].mean(),3)
math_average

78.985

In [10]:
#Calculate the average reading score 
reading_average = round(combined_df["reading_score"].mean(),3)
reading_average

81.878

In [11]:
#Calculate percentage of students with a passing math score (70 or greater)
passing_math_score = combined_df.loc[combined_df["math_score"] >= 70]
student_pass_math = passing_math_score["Student ID"].count()

percentage_math_total = round((student_pass_math/total_students)*100,3)
percentage_math_total

74.981

In [12]:
#Calculate percentage of students with a passing reading score (70 or greater)
passing_reading_score = combined_df.loc[combined_df["reading_score"] >= 70]
student_pass_reading = passing_reading_score["Student ID"].count()

percentage_reading_total = round((student_pass_reading/total_students)*100,3)
percentage_reading_total

85.805

In [13]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = round(combined_df[(combined_df['math_score'] >= 70) & (combined_df['reading_score'] >= 70)]['Student ID'].count() / total_students * 100,3)
overall_passing

65.172

In [16]:
#Create a DataFrame for the results
new_df = pd.DataFrame({"Total Schools":[school_count], "Total Students":"{:,}".format (total_students), "Total Budget":"${:,.0f}".format (total_budget), "Average Math Score":[math_average], "Average Reading Score":[reading_average], "% Passing Math":[percentage_math_total], "% Passing Reading":[percentage_reading_total], "% Overall Passing":[overall_passing]})
new_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.985,81.878,74.981,85.805,65.172

## School Summary

In [ ]:
#Create an overview table that summarizes key metrics